<!-- Header -->
<header id="header">
    <nav>
        <div class="navbar-logo">
            <img src="{{ asset('assets/images/logo.svg') }}" alt="ImmoGoodPrice">
        </div>
        <ul>
        <div class="navbar-right">
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('app_carte') }}">Carte</a></li>
            <li><a href="{{ path('app_article') }}">Articles</a></li>
            <li><a href="{{ path('app_loi') }}">Loi & informations</a></li>
            <li><a href="{{ path('app_contact') }}">À Contact</a></li>
        </div>
        </ul>
    </nav>
</header>